<%= form_with(model: [:admin, blog]) do |f| %>
  <% if blog.errors.any? %>
    <div class="card mb-3 exception-card">
      <div class="card-body">
        <ul class='m-0 p-0'>
          <% blog.errors.each do |error| %>
            <li class="list-unstyled"><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :idol_id, class: 'form-label fs-5' %>
    <%= f.collection_select :idol_id, Idol.all, :id, :name, {prompt: "選択してください"}, {class: 'form-select', disabled: disabled} %>
  </div>
  <div class="mb-3">
    <%= render 'tags', {f: f, context: 'genre', bg_color: 'primary', disabled: disabled} %>
  </div>
  <div class="mb-3">
    <%= render 'tags', {f: f, context: 'sale', bg_color: 'secondary', disabled: disabled} %>
  </div>
  <div class="mb-3">
    <%= f.label :title, class: 'form-label fs-5' %>
    <%= f.text_field :title, class: 'form-control', placeholder: 'ブログのタイトル', disabled: disabled %>
  </div>
  <div class="mb-3">
    <%= tag.label 'Thumbnail', class: "form-label fs-5", style: "display:block;" %>
    <%= f.label :thumbnail do %>
      <%= tag.div class: 'preview_wrap' do %>
        <%= image_tag blog.thumbnail.thumb.url, class: 'preview', style: "#{disabled ? 'pointer-events: none;' : ''}", width: 800, height: 450 %>
      <% end %>
      <%= f.file_field :thumbnail, class: 'form-control preview_form', style: 'display:none', disabled: disabled, 'data-default-url' => blog.thumbnail.default_url %>
      <%= f.hidden_field :thumbnail_cache %>
      <%= tag.span blog.thumbnail.identifier || 'No Image', class: 'text-secondary preview_filename' %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= tag.label 'Piece Image', class: "form-label fs-5", style: "display:block;" %>
    <%= f.label :piece_image do %>
      <%= tag.div class: 'preview_wrap' do %>
        <%= image_tag blog.piece_image.thumb.url, class: 'preview', style: "#{disabled ? 'pointer-events: none;' : ''}", width: 800, height: 450 %>
      <% end %>
      <%= f.file_field :piece_image, class: 'form-control preview_form', style: 'display:none', disabled: disabled, 'data-default-url' => blog.piece_image.default_url %>
      <%= f.hidden_field :thumbnail_cache %>
      <%= tag.span blog.piece_image.identifier || 'No Image', class: 'text-secondary preview_filename' %>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.label :piece_title, class: 'form-label fs-5' %>
    <%= f.text_field :piece_title, class: 'form-control', placeholder: 'DVDのタイトル', disabled: disabled  %>
  </div>
  <div class="mb-3">
    <%= f.label :piece_release_on, class: 'form-label fs-5' %>
    <%= f.date_field :piece_release_on, class: 'form-control', disabled: disabled  %>
  </div>
  <div class="mb-3">
    <%= f.label :outline, class: 'form-label fs-5' %>
    <%= f.text_area :outline, class: 'form-control', placeholder: '概要', rows: 10 , disabled: disabled %>
  </div>
  <div class="mb-3">
    <%= tag.label 'Content images', class: "form-label fs-5" %>
    <div id='content_images', class="row">
      <%= f.fields_for :content_images do |content_image| %>
        <%= render 'content_image_fields', {f: content_image, disabled: disabled} %>
      <% end %>
      <% if !disabled %>
        <div class='links my-3'>
          <%= link_to_add_association 'Add', f, :content_images, class: 'btn btn-primary mx-2 px-4', render_options: {locals: {disabled: disabled}} %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= tag.label 'Distributors', class: "form-label fs-5" %>
    <div id='distributors', class="row">
      <%= f.fields_for :distributors do |distributor| %>
        <%= render 'distributor_fields', {f: distributor, disabled: disabled} %>
      <% end %>
      <% if !disabled %>
        <div class='links my-3'>
          <%= link_to_add_association 'Add', f, :distributors, class: 'btn btn-primary mx-2 px-4', render_options: {locals: {disabled: disabled}} %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mb-3">
    <%= tag.label 'Published?', class: "form-label fs-5" %>
    <div style="display:block;">
      <%= f.collection_radio_buttons :published, [[true, 'publish'], [false, 'unpublish']], :first, :last do |b| %>
        <%= b.label(class: 'form-check-label') { b.radio_button(class: 'form-check-input', disabled: disabled) + b.text } %>
      <% end %>
    <div>
  </div>

  <div class="my-5">
    <%= f.submit nil, class: 'btn btn-primary mx-2 px-4' if !disabled %>
    <% if action_name == 'show' %>
      <%= link_to 'Edit', edit_admin_blog_path(blog), class: 'btn btn-primary mx-2 px-4' %>
      <%= link_to 'Delete', admin_blog_path(blog), method: :delete, class: 'btn btn-outline-danger mx-2 px-4', data: {confirm: 'Are you sure?'} %>
    <% end %>
    <%= link_to 'Back', back_url, class: 'btn btn-secondary mx-2 px-4' %>
  </div>
<% end %>
