<h4>Blogs</h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col" width="260">thumbnail</th>
      <th scope="col">Piece Title</th>
      <th scope="col">Outline</th>
      <th scope="col">Published</th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog| %>
      <%= tag.tr "data-href" => admin_blog_path(blog), class: 'table_item' do %>
        <%= tag.th blog.id, scope: "row" %>
        <%= tag.td blog.title %>
        <%= tag.td do %>
          <%= image_tag blog.thumbnail.thumb.url, class: 'img-fluid' %>
        <% end %>
        <%= tag.td blog.piece_title %>
        <%= tag.td blog.outline %>
        <%= tag.td blog.published ? 'Publish' : 'Unpublish', class: "#{blog.published ? 'text-primary' : 'text-danger'}" %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Blog', new_admin_blog_path, class: 'btn btn-primary' %>
