<!DOCTYPE html>
<html>
  <head>
    <title>BlogApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <!-- Sidebar Holder -->
      <%= render 'layouts/sidebar' %>

      <div id="content">
        <!-- Page Content Holder -->
        <%= render 'layouts/navbar', sidebarCollapseHandler: "sidebarCollapse(event)" %>

        <!-- Page Content Main -->
        <%= tag.div id: 'main-content' do %>
          <%= render 'layouts/flash' %>
          <%= yield %>
        <% end %>
      </div>
    </div>
  </body>
  <script data-turbolinks-eval=false>
    const sidebarCollapse = (e) => {
      currnetElement = e.currentTarget;
      sidebarElement = document.getElementById('sidebar');
      currnetElement.classList.toggle('active');
      sidebarElement.classList.toggle('active');
    };
  </script>
  <%= yield :script if content_for? :script %>
</html>
