<!DOCTYPE html>
<html>
  <head>
    <title>BlogApi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'module', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag javascript_path, 'data-turbolinks-track': 'reload' if javascript_file_exist?(javascript_path)%>
  </head>

  <body>
    <div class="wrapper">
      <!-- Sidebar Holder -->
      <%= render 'layouts/sidebar' %>

      <div id="content">
        <!-- Page Content Holder -->
        <%= render 'layouts/navbar' %>

        <!-- Page Content Main -->
        <%= tag.div id: 'main-content' do %>
          <%= render 'layouts/flash' %>
          <%= yield %>
        <% end %>
      </div>
    </div>
  </body>
</html>
