<h4>Idols</h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col" >Name</th>
      <th scope="col" width="260">Image</th>
      <th scope="col">Birth Date</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @idols.each do |idol| %>
      <%= tag.tr "data-href" => admin_idol_path(idol), class: 'table_item' do %>
        <%= tag.th idol.id, scope: "row" %>
        <%= tag.td idol.name %>
        <%= tag.td do %>
          <%= image_tag idol.image.url, class: 'img-fluid' %>
        <% end %>
        <%= tag.td idol.birth_date %>
        <%= tag.td idol.comment %>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Idol', new_admin_idol_path, class: 'btn btn-primary' %>

